{% extends 'base.html' %} {% block content %}

<section class="text-gray-600 body-font">

    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">{{ category.name }}</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base"> All the Leads that have that have<span class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">{{category.name}}</span></p>
        </div>
         <a href="{% url 'leads:category-list' %}" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"> Go Back
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
        <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                    <tr>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">First Name</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Last Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for lead in category.leads.all %}
                    <tr>
                       <td class="px-4 py-3"> <a href="{% url 'leads:detail-lead' lead.pk %}" class="text-indigo-500 hover:text-blue-500">{{ lead.first_name }}</a></td>
                        <td class="px-4 py-3">{{ lead.last_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock content%}