{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-lg-12">
      <div class="card">
         <div class="card-header">
            <h5 class="card-title">Edit My Profile</h5>
         </div>
         {% if messages %}
                        {% for message in messages %}
                           {% if message.tags == 'success' %}
                          <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong>{{ message }}</strong>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
         <div class="card-body">
            <form method="post" action="{% url 'profile_update' %}" enctype="multipart/form-data">
               {% csrf_token%}
               <div class="form-group row">
                  <label class="col-form-label col-md-2">First Name</label>
                  <div class="col-md-10">
                     <input name="first_name" type="text" value="{{ user.first_name }}" class="form-control">
                  </div>

               </div>
               <div class="form-group row">
                  <label class="col-form-label col-md-2">Last Name</label>
                  <div class="col-md-10">
                     <input name="last_name" value="{{ user.last_name }}" type="text" class="form-control">
                  </div>

               </div>
               <div class="form-group row">
                  <label class="col-form-label col-md-2">Username</label>
                  <div class="col-md-10">
                     <input readonly="readonly" value="{{ user.username }}" class="form-control">
                  </div>
               </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-2">Password</label>
                  <div class="col-md-10">
                     <input value="" class="form-control" placeholder="New Password">
                  </div>
               </div>

               <div class="form-group row">
                  <label class="col-form-label col-md-2">Email</label>
                  <div class="col-md-10">
                     <input readonly="readonly" value="{{ user.email }}" type="text" class="form-control" placeholder="Placeholder">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-form-label col-md-2">Picture Profile</label>
                  <div class="col-md-10">
                     <input class="form-control" type="file">
                  </div>
               </div>
               <div class="form-group row">

                  <div class="col-md-10">
                     <input class="btn btn-primary" type="submit" value="Sauvegarder">
                  </div>
               </div>
            </form>
         </div>
      </div>

   </div>
</div>
</div>
{% endblock%}