{% extends 'base.html' %}

{% load static %}
{% block content %}
  {% load crispy_forms_tags %}
  <div class="container-fluid py-4" style="overflow: scroll;">
    <div class="row">
      <div class="col-10">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3 text-center">New Inscription</h6>
            </div>
          </div>
            <div class="card h-100">
              <div class="card-body">
                <form role="form" class="row g-3" method='POST' enctype="multipart/form-data">
                  {% csrf_token %}
                  <h4 class="text-capitalize"> Student </h4>
                    {{student_form|crispy}}
                  <h4 class="text-capitalize"> Parent </h4>
                    {{contact_form|crispy}}
                    
                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <h6 class="mb-2 pb-1">Programs: </h6>
        
                          <select class="select form-control" name="prgram_id">
                            <option value="1" disabled>Choose option</option>
                            {% for subs in subscription %}
                            <option value="{{subs.id}}">{{subs.title}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-6 mb-4">
        
                          <h6 class="mb-2 pb-1">Subscriptions: </h6>
        
                          <select class="select form-control" name="subscription_id">
                            <option value="1" disabled>Choose option</option>
                            {% for prog in program %}
                           
                            <option value="{{prog.id}}">{{prog.title}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                  
              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% include 'footer.html' %}