{% extends 'base.html' %}

{% load static %}
{% block content %}
  {% load crispy_forms_tags %}
  <div class="container-fluid py-4" style="overflow: scroll;">
    <div class="row">
      <div class="col-10">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3 text-center">New Inscription</h6>
            </div>
          </div>
            <div class="card h-100">
              <div class="card-body">
                <form role="form" class="row g-3" method='POST' enctype="multipart/form-data">
                  {% csrf_token %}
                  
                    <h4 class="text-capitalize"> Parent </h4>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" name="fullname" class="form-control form-control-lg" />
                    <label class="form-label" for="fullname">Full Name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" name="address" class="form-control form-control-lg" />
                    <label class="form-label" for="address">Address</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="text" name="description" class="form-control form-control-lg" />
                    <label class="form-label" for="description">Description</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="tel" name="phone" class="form-control form-control-lg" />
                    <label class="form-label" for="phone">Phone Number</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Gender: </h6>

                  <select class="select form-control-lg" name="gender_p">
                    <option value="1" disabled>Choose option</option>
                    <option value="Mother" >Mother</option>
                    <option value="Father" selected>Father</option>
                  </select>
                </div>
              </div>
              <h4 class="text-capitalize"> Student </h4>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" name="first_name" class="form-control form-control-lg" />
                    <label class="form-label" for="first_name">First Name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" name="last_name" class="form-control form-control-lg" />
                    <label class="form-label" for="last_name">Last Name</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" name="level" class="form-control form-control-lg" />
                    <label class="form-label" for="level">Level</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="email" name="email" class="form-control form-control-lg" />
                    <label class="form-label" for="email">Email</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="number" name="age" class="form-control form-control-lg"  />
                    <label class="form-label" for="age">Age</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" name="address" class="form-control form-control-lg" />
                    <label class="form-label" for="address">Address</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="file" name="picture" class="form-control form-control-lg" />
                    <label class="form-check-label" for="inlineCheckbox1">Profile</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="status" type="checkbox" id="inlineCheckbox1" value="True">
                    <label class="form-check-label" for="inlineCheckbox1">Active</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Gender: </h6>

                  <select class="select form-control-lg" name="gender">
                    <option value="1" disabled>Choose option</option>
                    <option value="Boy">Boy</option>
                    <option value="Girl">Girl</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Programs: </h6>

                  <select class="select form-control" name="prgram">
                    <option value="1" disabled>Choose option</option>
                    {% for subs in subscription %}
                    <option value="{{subs.id}}">{{subs.title}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Subscriptions: </h6>

                  <select class="select form-control" name="subscription">
                    <option value="1" disabled>Choose option</option>
                    {% for prog in program %}
                   
                    <option value="{{prog.id}}">{{prog.title}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% include 'footer.html' %}
{% comment %} <div class="">
                    <h4>Student</h4>
                    <div class="row g-3">
                      <div class="d-inline p-2  col-4 ">
                      {{student_form.first_name|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                      {{student_form.last_name|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                      {{student_form.gender|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                      {{student_form.level|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                      {{student_form.email|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                        {{student_form.age|as_crispy_field}}
                        </div>
                      <div class="d-inline p-2  col-4 ">
                      {{student_form.address|as_crispy_field}} {{student_form.is_active|as_crispy_field}}
                      </div>
                      
                    </div>
                    <h4>Parent</h4>
                    <div class="row g-3">
                      
                      <div class="d-inline p-2  col-4 ">
                      {{contact_form.first_name|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                      {{contact_form.last_name|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                      {{contact_form.gender|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                      {{contact_form.phone|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                      {{contact_form.address|as_crispy_field}}
                      </div>
                      <div class="d-inline p-2  col-4 ">
                      {{contact_form.description|as_crispy_field}}
                      </div>
                       <div class="d-inline p-2  col-4 ">
                        {{program_form|crispy}}
                      </div>
                      <h4>Subscriptions</h4>
                      <div class="d-inline p-2 col-4 ">
                      {{ subscription_form|crispy}}</div>
                    </div>
                    <h4>Programs</h4>
                     
                  </div>
 {% endcomment %}

 {% comment %} <div class="row">
  <div class="col-12">

    <select class="select form-control-lg">
      <option value="1" disabled>Choose option</option>
      <option value="2">Subject 1</option>
      <option value="3">Subject 2</option>
      <option value="4">Subject 3</option>
    </select>
    <label class="form-label select-label">Choose option</label>

  </div>
</div> {% endcomment %}



  