{% extends 'base.html' %} {% block content %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest"> AGENT</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{agent.user.username}} </h1>
                <div class="flex mb-4">
                    <a href="{% url 'agents:detail-agent' agent.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Description</a>
                    <a href="{% url 'agents:update-agent' agent.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Update</a>
                    <a href="{% url 'agents:delete-agent' agent.id %}" class="flex-grow text-purple-500 border-b-2 border-purple-500  text-lg px-1">Delete</a>
                </div>
                <form method="post">
                    {% csrf_token %} {{ form.as_p }}
                    <div>
                        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                      <!-- Heroicon name: solid/lock-closed -->
                      <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      </svg>
                    </span>
                    Delete
                  </button>
                    </div>
                </form>
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
        </div>
    </div>
</section>

{% endblock content %}